*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.Header{
    width:100%;
    height:7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(190, 182, 182);
    background-color: rgba(3, 3, 3, 0.76);
    position: fixed;
    z-index: 5;
    transition: .5s ease-in-out;
}
.compView{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.Header:hover{
    background-color: rgba(3, 3, 3, 0.877);
}
.links{
    display: flex;
    padding:15px;
    width:36em;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
}
.link_head{
    position: relative;
    display: inline-block;
    width:6.4em;
    height:2.5em;
    margin: 3px;
    margin-left: 1em;
    transition:1 ease-in-out;
}
.links .dropDownHead{
    padding-left:10px;
    position: absolute;
    top:0%;
    bottom:0%;
    left: 0%;
    right: 0%;
    margin: auto;
    text-align:start;
    padding-top: 10px;
    font-size: 15px;
    transition: .1s ease-in;
    cursor: pointer;
}
.dropDownHead:hover{
    color:rgb(73, 165, 39)
}
.link_head:hover >.dropDownBody{
   display: block;
}  
.dropDownBody span{
    transition: 0.5s ease;
}
 
.Header .icon{
    padding: 3px;
    margin:3px;
}
.Header .compView button{
    width:16em;
    margin-right: 6em;
    color:rgb(0, 0, 0);
    border-radius: 6px;
     text-align: start;;
    background-color: rgb(89, 148, 89);
    border: 1px solid black;
}
.Header button i{
    border-right:1px solid black;
    margin-right: 20px;
    padding: 14px;
    color:black
}
.links .link_head{
    padding:10px;
}

.dropDownBody{
    width:10em;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    background-color: white;
    top:57%;
    left:0%;
    display: none;
    font-size: 17px;
}
.dropDownBody span{
    display: inline-block;
    padding: 13px;
    width:100%;
    color:black;
    cursor: pointer;
}
.dropDownBody span:hover{
    color:white;
    background-color: rgb(145, 98, 45);
}
.hide{
    display: none;
}

.moreDetails{
    position: relative;
}

.moreDetails .details{
    position:absolute;
    width:100%;
    left:-100%;
    top:0%;
    background-color: white;
    display: none;
    transition: 1s ease;
}
.moreDetails:hover>.details{
    display: block;
}

.mobileView{
    display: none;
}
.mobileView .icon{
    transform: scale(200%);
    margin-right: 2em;
}
.mobileContent{
    position: absolute;
    top: 100%;
    width:100%;
    height: 0px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.918);
    transition: .3s ease-in-out;
}
.mobileContent .cont{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color:white;
    transition: .3s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.one{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    transition: .3s ease-in-out;
}
.one p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px
}
.one p:hover{
    background: rgba(77, 75, 75, 0.425);
}
.one a{
    text-decoration: none;
    color:white
}
.one .drop{
  display:flex;
  flex-direction: column;
  padding:0;
  transition: .4s ease-in-out;
}
.drop span{
    padding:15px;
    border-top: 1px solid white;
    transition: .3s ease;
}


.drop span:hover{
  background-color: rgb(101, 187, 101);
}
@media (max-width:1064px){
    .compView{
        display: none;
    }
    .mobileView{
        display:flex;
    }
}
@media (min-width:1064px) {
    .mobileContent{
        display: none;
    }
}
@media (max-width:1111px) {
    .links{
        justify-content: flex-start;
        width:35em;
        margin-right: 1.5em;
    }
    .link_head{
        margin-left: 1.4em;
    }
}
.logo{
    padding:2px;
    border-radius: 10px;
    background: rgba(105, 45, 5, 0.055);
}
.logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a img{
    margin-top:10px;
    width:3em;
    height:4em
}
.logo a .lowerClass h1{
    color:orange;
    font-size: 30px;
}
.logo a .lowerClass span img{
    width:1.4em;
    height:1.4em;
}
.logo a .lowerClass span {
   color:rgb(236, 236, 236);
   width:8em;
   font-size: 15px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
@media (max-width:418px) {
    .logo a .lowerClass h1{
        color:orange;
        font-size: 20px;
    }
    .logo a .lowerClass{
       font-size: 13px;
    }
    .logo a img{
        margin-top:10px;
        width:4em;
        height:5em
    }
    .mobileView .icon{
        transform: scale(150%);
        margin-right: 2em;
    }
}